/* src/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a13737;
    padding: 10px 20px;
  }
  
  .navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-item a:hover {
    text-decoration: underline;
  }
  